<aside class="aside">
    <div class="aside-filter-container">
        <h1>Filtros</h1>
        <span class="aside-filter-item"><a href="{% url 'products_index' %}">Limpiar filtros</a></span>
        <form action="{% url 'products_index' %}" method="GET">
            <label for="categoria">Categoría:</label>
            <select name="categoria" id="categoria">
                <option value="">Todas las categorías</option>
                {% for c in categories %}
                    <option value="{{ c.id }}" {% if c.id == selected_categoria %}selected{% endif %}>{{ c.category_name }}</option>
                {% endfor %}
            </select>
            
            <label for="material">Material:</label>
            <select name="material" id="material">
                <option value="">Todos los materiales</option>
                {% for m in materials %}
                    <option value="{{ m.id }}"  {% if m.id == selected_material %}selected{% endif %}>{{ m.material_name }}</option>
                {% endfor %}
            </select>

            <label for="orden">Ordenar por:</label>
            <select name="orden" id="orden">
                <option value="">Sin orden</option>
                <option value="precio_desc" {% if selected_orden == 'precio_desc' %}selected{% endif %}>Precio (de Mayor a Menor)</option>
                <option value="precio_asc" {% if selected_orden == 'precio_asc' %}selected{% endif %}>Precio (de Menor a Mayor)</option>
            </select>
        
            <button type="submit">Aplicar filtros</button>
        </form>
    </div>
</aside>