<nav class-"nav">
    <ul class="nav-ul_container">
        <li class="nav-item"><a href="{% url 'search_movies' %}">Inicio</a></li>
        <li class="nav-item"><a href="{% url 'products_index' %}">Productos</a></li>
        {% if not user.is_authenticated %}
        <li class="nav-item"><a href="{% url 'login' %}">Iniciar sesion</a></li>
        {% endif %}
        {% if user.is_authenticated %}
        <li class="nav-item"><a href="{% url 'my_account' %}">Mi Cuenta</a></li>
        <li class="nav-item">
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Log-out</button>
            </form>
        </li>
        {% endif %}
    </ul>
</nav>